extends ./layout
block main
  .wrapper-form-block
    .__wrapper-block-form
      h1 Загрузка изображения на node.js
      h3= status
      h3= fileName
      //- img(src="/uploads/" + fileUrl)
      h3 Загрузить изображение 
          span (размером не более 10 мБ)
      form#uploadImage(action="/image-list" method="POST", enctype="multipart/form-data" name="images-upload")
        input(type="file", name="image", id="image")
        button#buttonImage.button(type="submit" disabled) 
          .fa.fa-upload 
          |Загрузить изображение