body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
h3 span {
  font-size: 0.8em;
  color: red;
}
.wrapper-form-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('/img/banner-bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.__wrapper-block-form {
  width: auto;
  height: auto;
}
label { 
  display: inline-block;
  color: #000;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
}

form input {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #000;
  padding: 5px;
  width: 90%;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

button:disabled {
  background-color: #9E9E9E;
}

/* style button custom */
[type="file"] {
  color: #878787;
}
[type="file"]::-webkit-file-upload-button {
		background: #000;
		border: 2px solid #000;
		border-radius: 0;
		color: #fff;
		cursor: pointer;
		outline: none;
		padding: 3px 25px;
		text-transform: uppercase;
		transition: all 1s ease;
}

[type="file"]:hover {
  background: inherit;
  border: 1px solid #535353;
  color: blue;
}
h1 {
  color: blue
}

img {
  min-height: 100%;
  margin-bottom: 30px;
  display: block;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.33);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

.link:hover {
   text-decoration: none;
   color: #000;
   border-bottom: 1px solid #000;
}

a .fa, button .fa {
  padding-right: 10px;
  color: #fff;
}
